<h1>Bookings</h1>

<p><%= @checkin_date %></p>
<p><%= @checkout_date %></p>
<p><%= @total_nights %></p>

<p><%= @base_fare %></p>
<p><%= @service_fee %></p>
<p><%= @total_amount %></p>

<p><%= @property.name %></p>